@font-face {
    font-family: 'Kumbh Sans Bold';
    src: url(fonts/KumbhSans-Bold.woff2) format('woff2'),
        url(fonts/KumbhSans-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: 'Kumbh Sans';
    src: url(fonts/KumbhSans-Regular.woff2) format('woff2'),
        url(fonts/KumbhSans-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Reenie Beanie';
    src: url(fonts/ReenieBeanie.woff2) format('woff2'),
        url(fonts/ReenieBeanie.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #979F38;
    font-family: 'Kumbh Sans Bold';
    font-size: 36px;
    text-align: center;
}

.body{
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-image: url(images/home.png);
    filter: saturate(110%);
    margin: auto;
}

@media (max-width: 1512px){
    .body{
        background-image: url(images/home.png);
    }
}

@media only screen and (max-width: 600px) {
    .body {
        background-image: url(images/mobilehome.png);
        margin: auto;
    }
    .container {
        grid-template-columns: 30% 30%;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1024px) {
    .body{
        background-image: url(images/tablethome.png);
        margin: auto;
    }
    .container {
        grid-template-columns: 47.5% 47.5%;
        justify-content: center;
        align-items: center;
    }
}

header{
    font-family: 'Reenie Beanie';
    padding: 1px;
    background-color: #FFFDF6;
    text-align: center;
}
.header{
    height: 105px
}
.container {  display: grid;
    grid-template-columns: 100px 650px 100px;
    grid-template-rows: 100px 0.5fr 20px 3.3fr 50px 44px;
    gap: 0px 0px;
    grid-auto-flow: row;
}
.foot { 
    grid-area: 6 / 1 / 7 / 6; 
    background-color: #695CC4;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-family: 'Kumbh Sans';
    font-size: 25px;
}
.break2 { grid-area: 5 / 1 / 6 / 4; }
.break { grid-area: 3 / 1 / 4 / 4; }
.gapleft { grid-area: 3 / 1 / 6 / 2; }
.gapright { grid-area: 3 / 3 / 6 / 4; }
  
.head { 
    grid-area: 1 / 1 / 2 / 6; }
  
.nav {
    grid-area: 2 / 1 / 3 / 6; }
  
.harm{
    grid-area: 4/1/5/3;
    text-align: left;
    color: black;
    font-size: 50px;
    position: relative;
    padding-top: 140px;
    padding-left: 205px;
    animation: slideUp 3s;
}
        
.vanden{
    grid-area: 4/2/6/3;
    text-align: center;
    color: black;
    font-size: 52px;
    position: relative;
    padding-top: 400px;
    padding-left: 340px;
    animation: slideUp 3s;
}
        
.dorpel{
    grid-area: 4/2/5/4;
    text-align: right;
    color: black;
    font-size: 50px;
    position: relative;
    padding-top: 140px;
    padding-left: 600px;
    animation: slideUp 3s;
}

.image { grid-area: 4 / 2 / 5 / 3; 
    background-color: #FFFDF6;
    width: 990px;
    height: 593px;
    display: grid;
    justify-content: center;
    align-items: center;
}

@keyframes slideUp{
    0%,
    50%{
        transform: translateY(100%);
        opacity: 0;
    }
    60%,
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

li{
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    background-color: #D4CEFF;
}


.navbar{
    background-color: #D4CEFF;
    text-align: center;
}

.navbar a{
    float: left;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: #04348d;
}


.navbar a:visited{
    color: black;
}

header a:visited{
    color: black;
}

a:hover{
    color: #aba0ff;
}