
@font-face{
    font-family: 'Reenie Beanie';
    src: url(../fonts/ReenieBeanie.woff2) format('woff2'),
        url(../fonts/ReenieBeanie.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kumbh Sans Bold';
    src: url(../fonts/KumbhSans-Bold.woff2) format('woff2'),
        url(../fonts/KumbhSans-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: 'Kumbh Sans';
    src: url(../fonts/KumbhSans-Regular.woff2) format('woff2'),
        url(../fonts/KumbhSans-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #063cff;
    font-family: 'Kumbh Sans Bold';
    font-size: 36px;
    text-align: center;
  
}
header{
    font-family: 'Reenie Beanie'; 
    padding: 1px;
    background-color: #FFFDF6;
    text-align: center;
}
.header{
    height: 105px
}

.text {
    grid-area: 4 / 2 / 5 / 3; 
    text-align: left;
    padding: 10px;
    margin: 20px;
    max-width: 510px;
}

h2{
    font-size: 64px;
    font-family: 'Kumbh Sans Bold';
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

p{
    font-size: 20px;
    font-family: 'Kumbh Sans';
    color: white;
}

.body{
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-image: url(../images/about.png);
    margin: auto;
    filter: saturate(120%);
}
.container {  display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: 100px 0.5fr 1px 3.3fr 1.5fr 55px;
    gap: 0px 0px;
    grid-auto-flow: row;
    overflow: scroll;
}

@media (max-width: 1512px){
    .body{
        background-image: url(../images/about.png);
    }
}

@media only screen and (max-width: 600px) {
    .body {
        background-image: url(../images/mobileabout.png);
        margin: auto;
        max-width: fit-content;
    }
    .container{
        overflow: scroll;
        grid-template-columns: 3;
        grid-template-rows: 7;
        gap: 0px 0px;
    }
    .image{
        grid-area: 4/2/5/3;
    }
    .text{
       grid-area: 5/2/6/3;
       text-align: left;
       padding: 10px;
       margin: 20px;
       max-width: 510px;
    }
    .head{
        grid-area: 1/1/2/4;
    }
    .nav{
        grid-area: 2/1/3/4;
    }
    .break{
        grid-area: 3/1/4/4;
    }
    .break2{
        grid-area: 6/1/7/4;
    }
    .foot{
        grid-area: 7/1/8/4;
    }
    
}

@media only screen and (max-width: 1024px) {
    .body{
        background-image: url(../images/tabletabout.png);
        margin: auto;
        max-width: fit-content;
    }
    .container{
        overflow: scroll;
        grid-template-columns: 1;
        grid-template-rows: 6;
        gap: 0px 0px;
    }
    .image{
        grid-area: 4/1/5/2;
    }
    .text{
        grid-area: 5/1/6/2;
        text-align: left;
        padding: 10px;
        margin: 20px;
        max-width: 510px;
    } 
}


.break {grid-area: 3 / 1 / 4 / 3; }
  
.head {
    grid-area: 1 / 1 / 2 / 3; }
  
.nav {
    grid-area: 2 / 1 / 3 / 3; }
  
.image {
    grid-area: 4 / 1 / 5 / 2;
    background-color: #FFFDF6;
    width: 471px;
    height: 471px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    0%{opacity: 0};
    100%{opacity:1};
}

.break2 {grid-area: 5 / 1 / 6 / 3; }
  
.foot {
    grid-area: 6 / 1 / 7 / 3; 
    background-color: #695CC4;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-family: 'Kumbh Sans';
    font-size: 25px;
}

li{
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    background-color: #D4CEFF;
}


.navbar{
    background-color: #D4CEFF;
    text-align: center;

}

.navbar a{
    float: left;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: #04348d;
}

.navbar a:visited{
    color: black;
}

header a:visited{
    color: black;
}

a:hover{
    color: #aba0ff;
}

.navbar a:hover{
    color: #00308a;
}