body{
    background-color: #979F38;
    font-family: 'Kumbh Sans Bold';
    font-size: 36px;
    text-align: center;
}
header{
    font-family: 'Reenie Beanie';
    padding: 1px;
    background-color: #FFFDF6;
    text-align: center;
}
.header{
    height: 105px
}
@font-face {
    font-family: 'Kumbh Sans Bold';
    src: url(fonts/KumbhSans-Bold.woff2) format('woff2'),
        url(fonts/KumbhSans-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: 'Kumbh Sans';
    src: url(fonts/KumbhSans-Regular.woff2) format('woff2'),
        url(fonts/KumbhSans-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Reenie Beanie';
    src: url(fonts/ReenieBeanie.woff2) format('woff2'),
        url(fonts/ReenieBeanie.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

li{
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    background-color: #D4CEFF;
}


.navbar{
    background-color: #D4CEFF;
    text-align: center;

}

.navbar a{
    float: left;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}